ALIASES_BASE_DIR=${HOME}
source ${ALIASES_BASE_DIR}/.common.aliases
source ${ALIASES_BASE_DIR}/.git.aliases
source ${ALIASES_BASE_DIR}/.iterm.aliases
source ${ALIASES_BASE_DIR}/.java.aliases
source ${ALIASES_BASE_DIR}/.mac.aliases
source ${ALIASES_BASE_DIR}/.mvn.aliases
source ${ALIASES_BASE_DIR}/.p4.aliases
source ${ALIASES_BASE_DIR}/.util.aliases
